PORT=3004
JWT_SECRET=your-jwt-secret-must-match-users-and-checkout
DATABASE_HOST=localhost
DATABASE_PORT=5437
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=payments_db
RABBITMQ_URL=amqp://admin:admin@localhost:5672
